In [87]:
import pandas as pd
import numpy as np

In [88]:
df1 = pd.read_csv('D:/PROJECTS/Movie-recommender-system/finalData/final_df1.csv')
df2 = pd.read_csv('D:/PROJECTS/Movie-recommender-system/finalData/final_df2.csv')
df3 = pd.read_csv('D:/PROJECTS/Movie-recommender-system/finalData/final_df3.csv')

In [89]:
df1 = df1.drop('Unnamed: 0', axis=1)
df2 = df2.drop('Unnamed: 0', axis=1)
df3 = df3.drop('Unnamed: 0', axis=1)

In [90]:
print("DF1 columns")
df1.columns

DF1 columns

Index(['title', 'tags'], dtype='object')

In [91]:
print("DF2 columsn")
df2.columns

DF2 columsn

Index(['title', 'tags'], dtype='object')

In [92]:
print("DF3 COLUMNS")
df3.columns

DF3 COLUMNS

Index(['title', 'tags'], dtype='object')

- Create Tags for individual dataset, then append those tags under one umbrella
    * Before this, make the tags space free, to ensure proper semantics regarding names
    and terminologies has been preserved

In [93]:
df1.head(2)

,title,tags
0,New York Doll,A recovering alcoholic and recently converted ...
1,Mickey's Magical Christmas: Snowed in at the H...,After everyone is snowed in at the House of Mo...

In [94]:
df2.head(2)

                      title                                               tags
0                 Creed III  After dominating the boxing world, Adonis Cree...
1  Avatar: The Way of Water  Set more than a decade after the events of the...

In [95]:
df3.head(2)

,title,tags
0,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [96]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(3834, 2)
(10052, 2)
(4806, 2)

In [133]:
final_df = pd.merge(df1, df2, on='title', how='outer')
final_df = pd.merge(final_df, df3, on='title', how='outer')

In [134]:
final_df.shape

(13600, 4)

In [135]:
final_df.tail()

,title,tags_x,tags_y,tags
13595,Cavite,NaN,NaN,"Adam, a security guard, travels from Californi..."
13596,Newlyweds,NaN,NaN,A newlywed couple's honeymoon is upended by th...
13597,"Signed, Sealed, Delivered",NaN,NaN,"""Signed, Sealed, Delivered"" introduces a dedic..."
13598,Shanghai Calling,NaN,NaN,When ambitious New York attorney Sam is sent t...
13599,My Date with Drew,NaN,NaN,Ever since the second grade when he first saw ...

In [136]:
final_df['single_tags'] = final_df['tags_x'].fillna(final_df['tags_y']).fillna(final_df['tags'])

final_df = final_df.drop(['tags_x', 'tags_y', 'tags'], axis=1)

In [137]:
final_df.head()

,title,single_tags
0,New York Doll,A recovering alcoholic and recently converted ...
1,Mickey's Magical Christmas: Snowed in at the H...,After everyone is snowed in at the House of Mo...
2,Mickey's House of Villains,The villains from the popular animated Disney ...
3,And Then I Go,"In the cruel world of junior high, Edwin suffe..."
4,An Extremely Goofy Movie,It's a big time in Max's life. He's college bo...

In [140]:
final_df.rename(columns={'single_tags': 'tags'}, inplace=True)
final_df.head()

,title,tags
0,New York Doll,A recovering alcoholic and recently converted ...
1,Mickey's Magical Christmas: Snowed in at the H...,After everyone is snowed in at the House of Mo...
2,Mickey's House of Villains,The villains from the popular animated Disney ...
3,And Then I Go,"In the cruel world of junior high, Edwin suffe..."
4,An Extremely Goofy Movie,It's a big time in Max's life. He's college bo...

In [147]:
final_df.duplicated().value_counts()

False    13260
Name: count, dtype: int64

In [144]:
final_df.drop_duplicates(inplace=True)

In [150]:
print("final_df")

final_df

In [151]:
final_df.head()

,title,tags
0,New York Doll,A recovering alcoholic and recently converted ...
1,Mickey's Magical Christmas: Snowed in at the H...,After everyone is snowed in at the House of Mo...
2,Mickey's House of Villains,The villains from the popular animated Disney ...
3,And Then I Go,"In the cruel world of junior high, Edwin suffe..."
4,An Extremely Goofy Movie,It's a big time in Max's life. He's college bo...

In [153]:
final_df.to_csv('D:/PROJECTS/Movie-recommender-system/finalData/final_df.csv')